
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.hero-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.hero-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.hero-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.hero-table,.hero-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.hero-table-all{border:1px solid #ccc}
.hero-bordered tr,.hero-table-all tr{border-bottom:1px solid #ddd}.hero-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.hero-table-all tr:nth-child(odd){background-color:#fff}.hero-table-all tr:nth-child(even){background-color:#f1f1f1}
.hero-hoverable tbody tr:hover,.hero-ul.hero-hoverable li:hover{background-color:#ccc}.hero-centered tr th,.hero-centered tr td{text-align:center}
.hero-table td,.hero-table th,.hero-table-all td,.hero-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.hero-table th:first-child,.hero-table td:first-child,.hero-table-all th:first-child,.hero-table-all td:first-child{padding-left:16px}
.hero-btn,.hero-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.hero-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.hero-btn,.hero-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.hero-disabled,.hero-btn:disabled,.hero-button:disabled{cursor:not-allowed;opacity:0.3}.hero-disabled *,:disabled *{pointer-events:none}
.hero-btn.hero-disabled:hover,.hero-btn:disabled:hover{box-shadow:none}
.hero-badge,.hero-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.hero-badge{border-radius:50%}
.hero-ul{list-style-type:none;padding:0;margin:0}.hero-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.hero-ul li:last-child{border-bottom:none}
.hero-tooltip,.hero-display-container{position:relative}.hero-tooltip .hero-text{display:none}.hero-tooltip:hover .hero-text{display:inline-block}
.hero-ripple:active{opacity:0.5}.hero-ripple{transition:opacity 0s}
.hero-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.hero-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.hero-dropdown-click,.hero-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.hero-dropdown-hover:hover .hero-dropdown-content{display:block}
.hero-dropdown-hover:first-child,.hero-dropdown-click:hover{background-color:#ccc;color:#000}
.hero-dropdown-hover:hover > .hero-button:first-child,.hero-dropdown-click:hover > .hero-button:first-child{background-color:#ccc;color:#000}
.hero-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.hero-check,.hero-radio{width:24px;height:24px;position:relative;top:6px}
.hero-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.hero-bar-block .hero-dropdown-hover,.hero-bar-block .hero-dropdown-click{width:100%}
.hero-bar-block .hero-dropdown-hover .hero-dropdown-content,.hero-bar-block .hero-dropdown-click .hero-dropdown-content{min-width:100%}
.hero-bar-block .hero-dropdown-hover .hero-button,.hero-bar-block .hero-dropdown-click .hero-button{width:100%;text-align:left;padding:8px 16px}
.hero-main,#main{transition:margin-left .4s}
.hero-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.hero-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.hero-bar{width:100%;overflow:hidden}.hero-center .hero-bar{display:inline-block;width:auto}
.hero-bar .hero-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.hero-bar .hero-dropdown-hover,.hero-bar .hero-dropdown-click{position:static;float:left}
.hero-bar .hero-button{white-space:normal}
.hero-bar-block .hero-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.hero-bar-block.hero-center .hero-bar-item{text-align:center}.hero-block{display:block;width:100%}
.hero-responsive{display:block;overflow-x:auto}
.hero-container:after,.hero-container:before,.hero-panel:after,.hero-panel:before,.hero-row:after,.hero-row:before,.hero-row-padding:after,.hero-row-padding:before,
.hero-cell-row:before,.hero-cell-row:after,.hero-clear:after,.hero-clear:before,.hero-bar:before,.hero-bar:after{content:"";display:table;clear:both}
.hero-col,.hero-half,.hero-third,.hero-twothird,.hero-threequarter,.hero-quarter{float:left;width:100%}
.hero-col.s1{width:8.33333%}.hero-col.s2{width:16.66666%}.hero-col.s3{width:24.99999%}.hero-col.s4{width:33.33333%}
.hero-col.s5{width:41.66666%}.hero-col.s6{width:49.99999%}.hero-col.s7{width:58.33333%}.hero-col.s8{width:66.66666%}
.hero-col.s9{width:74.99999%}.hero-col.s10{width:83.33333%}.hero-col.s11{width:91.66666%}.hero-col.s12{width:99.99999%}
@media (min-width:601px){.hero-col.m1{width:8.33333%}.hero-col.m2{width:16.66666%}.hero-col.m3,.hero-quarter{width:24.99999%}.hero-col.m4,.hero-third{width:33.33333%}
.hero-col.m5{width:41.66666%}.hero-col.m6,.hero-half{width:49.99999%}.hero-col.m7{width:58.33333%}.hero-col.m8,.hero-twothird{width:66.66666%}
.hero-col.m9,.hero-threequarter{width:74.99999%}.hero-col.m10{width:83.33333%}.hero-col.m11{width:91.66666%}.hero-col.m12{width:99.99999%}}
@media (min-width:993px){.hero-col.l1{width:8.33333%}.hero-col.l2{width:16.66666%}.hero-col.l3{width:24.99999%}.hero-col.l4{width:33.33333%}
.hero-col.l5{width:41.66666%}.hero-col.l6{width:49.99999%}.hero-col.l7{width:58.33333%}.hero-col.l8{width:66.66666%}
.hero-col.l9{width:74.99999%}.hero-col.l10{width:83.33333%}.hero-col.l11{width:91.66666%}.hero-col.l12{width:99.99999%}}
.hero-rest{overflow:hidden}.hero-stretch{margin-left:-16px;margin-right:-16px}
.hero-content,.hero-auto{margin-left:auto;margin-right:auto}.hero-content{max-width:980px}.hero-auto{max-width:1140px}
.hero-cell-row{display:table;width:100%}.hero-cell{display:table-cell}
.hero-cell-top{vertical-align:top}.hero-cell-middle{vertical-align:middle}.hero-cell-bottom{vertical-align:bottom}
.hero-hide{display:none!important}.hero-show-block,.hero-show{display:block!important}.hero-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.hero-auto{max-width:95%}}
@media (max-width:600px){.hero-modal-content{margin:0 10px;width:auto!important}.hero-modal{padding-top:30px}
.hero-dropdown-hover.hero-mobile .hero-dropdown-content,.hero-dropdown-click.hero-mobile .hero-dropdown-content{position:relative}	
.hero-hide-small{display:none!important}.hero-mobile{display:block;width:100%!important}.hero-bar-item.hero-mobile,.hero-dropdown-hover.hero-mobile,.hero-dropdown-click.hero-mobile{text-align:center}
.hero-dropdown-hover.hero-mobile,.hero-dropdown-hover.hero-mobile .hero-btn,.hero-dropdown-hover.hero-mobile .hero-button,.hero-dropdown-click.hero-mobile,.hero-dropdown-click.hero-mobile .hero-btn,.hero-dropdown-click.hero-mobile .hero-button{width:100%}}
@media (max-width:768px){.hero-modal-content{width:500px}.hero-modal{padding-top:50px}}
@media (min-width:993px){.hero-modal-content{width:900px}.hero-hide-large{display:none!important}.hero-sidebar.hero-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.hero-hide-medium{display:none!important}}
@media (max-width:992px){.hero-sidebar.hero-collapse{display:none}.hero-main{margin-left:0!important;margin-right:0!important}.hero-auto{max-width:100%}}
.hero-top,.hero-bottom{position:fixed;width:100%;z-index:1}.hero-top{top:0}.hero-bottom{bottom:0}
.hero-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.hero-display-topleft{position:absolute;left:0;top:0}.hero-display-topright{position:absolute;right:0;top:0}
.hero-display-bottomleft{position:absolute;left:0;bottom:0}.hero-display-bottomright{position:absolute;right:0;bottom:0}
.hero-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.hero-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.hero-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.hero-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hero-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hero-display-container:hover .hero-display-hover{display:block}.hero-display-container:hover span.hero-display-hover{display:inline-block}.hero-display-hover{display:none}
.hero-display-position{position:absolute}
.hero-circle{border-radius:50%}
.hero-round-small{border-radius:2px}.hero-round,.hero-round-medium{border-radius:4px}.hero-round-large{border-radius:8px}.hero-round-xlarge{border-radius:16px}.hero-round-xxlarge{border-radius:32px}
.hero-row-padding,.hero-row-padding>.hero-half,.hero-row-padding>.hero-third,.hero-row-padding>.hero-twothird,.hero-row-padding>.hero-threequarter,.hero-row-padding>.hero-quarter,.hero-row-padding>.hero-col{padding:0 8px}
.hero-container,.hero-panel{padding:0.01em 16px}.hero-panel{margin-top:16px;margin-bottom:16px}
.hero-code,.hero-codespan{font-family:Consolas,"courier new";font-size:16px}
.hero-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.hero-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.hero-card,.hero-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.hero-card-4,.hero-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.hero-spin{animation:hero-spin 2s infinite linear}@keyframes hero-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.hero-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.hero-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.hero-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.hero-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.hero-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.hero-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.hero-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.hero-animate-input{transition:width 0.4s ease-in-out}.hero-animate-input:focus{width:100%!important}
.hero-opacity,.hero-hover-opacity:hover{opacity:0.60}.hero-opacity-off,.hero-hover-opacity-off:hover{opacity:1}
.hero-opacity-max{opacity:0.25}.hero-opacity-min{opacity:0.75}
.hero-greyscale-max,.hero-grayscale-max,.hero-hover-greyscale:hover,.hero-hover-grayscale:hover{filter:grayscale(100%)}
.hero-greyscale,.hero-grayscale{filter:grayscale(75%)}.hero-greyscale-min,.hero-grayscale-min{filter:grayscale(50%)}
.hero-sepia{filter:sepia(75%)}.hero-sepia-max,.hero-hover-sepia:hover{filter:sepia(100%)}.hero-sepia-min{filter:sepia(50%)}
.hero-tiny{font-size:10px!important}.hero-small{font-size:12px!important}.hero-medium{font-size:15px!important}.hero-large{font-size:18px!important}
.hero-xlarge{font-size:24px!important}.hero-xxlarge{font-size:36px!important}.hero-xxxlarge{font-size:48px!important}.hero-jumbo{font-size:64px!important}
.hero-left-align{text-align:left!important}.hero-right-align{text-align:right!important}.hero-justify{text-align:justify!important}.hero-center{text-align:center!important}
.hero-border-0{border:0!important}.hero-border{border:1px solid #ccc!important}
.hero-border-top{border-top:1px solid #ccc!important}.hero-border-bottom{border-bottom:1px solid #ccc!important}
.hero-border-left{border-left:1px solid #ccc!important}.hero-border-right{border-right:1px solid #ccc!important}
.hero-topbar{border-top:6px solid #ccc!important}.hero-bottombar{border-bottom:6px solid #ccc!important}
.hero-leftbar{border-left:6px solid #ccc!important}.hero-rightbar{border-right:6px solid #ccc!important}
.hero-section,.hero-code{margin-top:16px!important;margin-bottom:16px!important}
.hero-margin{margin:16px!important}.hero-margin-top{margin-top:16px!important}.hero-margin-bottom{margin-bottom:16px!important}
.hero-margin-left{margin-left:16px!important}.hero-margin-right{margin-right:16px!important}
.hero-padding-small{padding:4px 8px!important}.hero-padding{padding:8px 16px!important}.hero-padding-large{padding:12px 24px!important}
.hero-padding-16{padding-top:16px!important;padding-bottom:16px!important}.hero-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.hero-padding-32{padding-top:32px!important;padding-bottom:32px!important}.hero-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.hero-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.hero-left{float:left!important}.hero-right{float:right!important}
.hero-button:hover{color:#000!important;background-color:#ccc!important}
.hero-transparent,.hero-hover-none:hover{background-color:transparent!important}
.hero-hover-none:hover{box-shadow:none!important}
/* Colors */
.hero-amber,.hero-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.hero-aqua,.hero-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.hero-blue,.hero-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.hero-light-blue,.hero-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.hero-brown,.hero-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.hero-cyan,.hero-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.hero-blue-grey,.hero-hover-blue-grey:hover,.hero-blue-gray,.hero-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.hero-green,.hero-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.hero-light-green,.hero-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.hero-indigo,.hero-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.hero-khaki,.hero-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.hero-lime,.hero-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.hero-orange,.hero-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.hero-deep-orange,.hero-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.hero-pink,.hero-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.hero-purple,.hero-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.hero-deep-purple,.hero-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.hero-red,.hero-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.hero-sand,.hero-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.hero-teal,.hero-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.hero-yellow,.hero-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.hero-white,.hero-hover-white:hover{color:#000!important;background-color:#fff!important}
.hero-black,.hero-hover-black:hover{color:#fff!important;background-color:#000!important}
.hero-grey,.hero-hover-grey:hover,.hero-gray,.hero-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.hero-light-grey,.hero-hover-light-grey:hover,.hero-light-gray,.hero-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.hero-dark-grey,.hero-hover-dark-grey:hover,.hero-dark-gray,.hero-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.hero-pale-red,.hero-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.hero-pale-green,.hero-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.hero-pale-yellow,.hero-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.hero-pale-blue,.hero-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.hero-text-amber,.hero-hover-text-amber:hover{color:#ffc107!important}
.hero-text-aqua,.hero-hover-text-aqua:hover{color:#00ffff!important}
.hero-text-blue,.hero-hover-text-blue:hover{color:#2196F3!important}
.hero-text-light-blue,.hero-hover-text-light-blue:hover{color:#87CEEB!important}
.hero-text-brown,.hero-hover-text-brown:hover{color:#795548!important}
.hero-text-cyan,.hero-hover-text-cyan:hover{color:#00bcd4!important}
.hero-text-blue-grey,.hero-hover-text-blue-grey:hover,.hero-text-blue-gray,.hero-hover-text-blue-gray:hover{color:#607d8b!important}
.hero-text-green,.hero-hover-text-green:hover{color:#4CAF50!important}
.hero-text-light-green,.hero-hover-text-light-green:hover{color:#8bc34a!important}
.hero-text-indigo,.hero-hover-text-indigo:hover{color:#3f51b5!important}
.hero-text-khaki,.hero-hover-text-khaki:hover{color:#b4aa50!important}
.hero-text-lime,.hero-hover-text-lime:hover{color:#cddc39!important}
.hero-text-orange,.hero-hover-text-orange:hover{color:#ff9800!important}
.hero-text-deep-orange,.hero-hover-text-deep-orange:hover{color:#ff5722!important}
.hero-text-pink,.hero-hover-text-pink:hover{color:#e91e63!important}
.hero-text-purple,.hero-hover-text-purple:hover{color:#9c27b0!important}
.hero-text-deep-purple,.hero-hover-text-deep-purple:hover{color:#673ab7!important}
.hero-text-red,.hero-hover-text-red:hover{color:#f44336!important}
.hero-text-sand,.hero-hover-text-sand:hover{color:#fdf5e6!important}
.hero-text-teal,.hero-hover-text-teal:hover{color:#009688!important}
.hero-text-yellow,.hero-hover-text-yellow:hover{color:#d2be0e!important}
.hero-text-white,.hero-hover-text-white:hover{color:#fff!important}
.hero-text-black,.hero-hover-text-black:hover{color:#000!important}
.hero-text-grey,.hero-hover-text-grey:hover,.hero-text-gray,.hero-hover-text-gray:hover{color:#757575!important}
.hero-text-light-grey,.hero-hover-text-light-grey:hover,.hero-text-light-gray,.hero-hover-text-light-gray:hover{color:#f1f1f1!important}
.hero-text-dark-grey,.hero-hover-text-dark-grey:hover,.hero-text-dark-gray,.hero-hover-text-dark-gray:hover{color:#3a3a3a!important}
.hero-border-amber,.hero-hover-border-amber:hover{border-color:#ffc107!important}
.hero-border-aqua,.hero-hover-border-aqua:hover{border-color:#00ffff!important}
.hero-border-blue,.hero-hover-border-blue:hover{border-color:#2196F3!important}
.hero-border-light-blue,.hero-hover-border-light-blue:hover{border-color:#87CEEB!important}
.hero-border-brown,.hero-hover-border-brown:hover{border-color:#795548!important}
.hero-border-cyan,.hero-hover-border-cyan:hover{border-color:#00bcd4!important}
.hero-border-blue-grey,.hero-hover-border-blue-grey:hover,.hero-border-blue-gray,.hero-hover-border-blue-gray:hover{border-color:#607d8b!important}
.hero-border-green,.hero-hover-border-green:hover{border-color:#4CAF50!important}
.hero-border-light-green,.hero-hover-border-light-green:hover{border-color:#8bc34a!important}
.hero-border-indigo,.hero-hover-border-indigo:hover{border-color:#3f51b5!important}
.hero-border-khaki,.hero-hover-border-khaki:hover{border-color:#f0e68c!important}
.hero-border-lime,.hero-hover-border-lime:hover{border-color:#cddc39!important}
.hero-border-orange,.hero-hover-border-orange:hover{border-color:#ff9800!important}
.hero-border-deep-orange,.hero-hover-border-deep-orange:hover{border-color:#ff5722!important}
.hero-border-pink,.hero-hover-border-pink:hover{border-color:#e91e63!important}
.hero-border-purple,.hero-hover-border-purple:hover{border-color:#9c27b0!important}
.hero-border-deep-purple,.hero-hover-border-deep-purple:hover{border-color:#673ab7!important}
.hero-border-red,.hero-hover-border-red:hover{border-color:#f44336!important}
.hero-border-sand,.hero-hover-border-sand:hover{border-color:#fdf5e6!important}
.hero-border-teal,.hero-hover-border-teal:hover{border-color:#009688!important}
.hero-border-yellow,.hero-hover-border-yellow:hover{border-color:#ffeb3b!important}
.hero-border-white,.hero-hover-border-white:hover{border-color:#fff!important}
.hero-border-black,.hero-hover-border-black:hover{border-color:#000!important}
.hero-border-grey,.hero-hover-border-grey:hover,.hero-border-gray,.hero-hover-border-gray:hover{border-color:#9e9e9e!important}
.hero-border-light-grey,.hero-hover-border-light-grey:hover,.hero-border-light-gray,.hero-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.hero-border-dark-grey,.hero-hover-border-dark-grey:hover,.hero-border-dark-gray,.hero-hover-border-dark-gray:hover{border-color:#616161!important}
.hero-border-pale-red,.hero-hover-border-pale-red:hover{border-color:#ffe7e7!important}.hero-border-pale-green,.hero-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.hero-border-pale-yellow,.hero-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.hero-border-pale-blue,.hero-hover-border-pale-blue:hover{border-color:#e7ffff!important}